body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calculator {
  background-color: #ffffff;
  padding: 25px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

li {
  margin-bottom: 10px;
  list-style-type: none;
}

input,
select {
  width: calc(100% - 15px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

h2,
h3 {
  margin-bottom: 20px;
  color: #333;
}

#cgpa {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
}

#subjectList {
  text-align: left;
}

button.edit,
button.delete {
  padding: 8px 15px;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

button.delete {
  background-color: #d9534f;
}

.error {
  color: #d9534f;
  font-size: 16px;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 500px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.modal h2{
  color: blue;
  text-align: center;
}
.modal button{
  background-color: rgb(70, 70, 230);
}

.modal .modal-btn{
  margin-left: 5px;
}

.modal-inner{
    width: 350px;
    margin: 0 auto;
}

.modal-inner input {
    outline: none;
}

.modal-inner-loading{
    text-align: center;
}

/* modal buttons */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-choice-btns{
    margin-top: 10px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.modal-choice-btns-reverse{
    flex-direction: row-reverse;
}

.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
}

/* modal input */

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

/* modal after submit */

.loading{
    width: 100%; 
    margin-top: 10px;
}

.modal-display-name{
    color: #4caf50;
;
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;
}

.idiot-gif{
    width: 100%;
    margin: 0 auto;
}

.idiot-gif img{
    box-shadow: 1px 1px 3px #999;
    border-radius: 5px;
    width: 100%;
}
